In [1]:
!pip install plotly==5.15.0
!pip install pandas

Requirement already satisfied: plotly==5.15.0 in ./.venv/lib/python3.12/site-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in ./.venv/lib/python3.12/site-packages (from plotly==5.15.0) (9.1.2)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from plotly==5.15.0) (25.0)
Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
import plotly.express as px

In [4]:
db = pd.read_csv('data/world_imdb_movies_top_movies_per_year.csv')
db

,id,title,link,year,duration,rating_mpa,rating_imdb,vote,budget,gross_world_wide,...,writer,star,genre,country_origin,filming_location,production_company,language,win,nomination,oscar
0,tt0073470,Strip Nude for Your Killer,https://www.imdb.com/title/tt0073470,1975,1h 38m,Not Rated,5.6,33000.0,NaN,NaN,...,"Andrea Bianchi, Massimo Felisatti","Edwige Fenech, Nino Castelnuovo, Femi Benussi","Erotic Thriller, Giallo, Slasher Horror, Horro...",Italy,"Milan, Lombardia, Italy",FRAL Cinematografica,Italian,0,0,0
1,tt0072764,Carry on Behind,https://www.imdb.com/title/tt0072764,1975,1h 30m,Not Rated,5.6,31000.0,NaN,NaN,...,Dave Freeman,"Elke Sommer, Kenneth Williams, Bernard Bresslaw","Parody, Slapstick, Comedy",United Kingdom,"Bad Godesberg Way, Maidenhead, Berkshire, Engl...","The Rank Organisation, Peter Rogers Productions",English,0,0,0
2,tt0131526,"So Young, So Lovely, So Vicious...",https://www.imdb.com/title/tt0131526,1975,1h 30m,NaN,4.9,487.0,NaN,NaN,...,"Silvio Amadio, Roberto Natale","Gloria Guida, Dagmar Lassander, Fred Robsahm","Drama, Mystery, Thriller",Italy,"Sardinia, Italy",Domiziana Internazionale Cinematografica,Italian,0,0,0
3,tt0073335,Mahogany,https://www.imdb.com/title/tt0073335,1975,1h 49m,PG,6.1,23000.0,NaN,NaN,...,"John Byrum, Toni Amber","Diana Ross, Billy Dee Williams, Anthony Perkins","Drama, Romance",United States,Marshall Field Co Department Store 111 N Sta...,"Motown Productions, Nikor Productions, Paramou...","English, Italian",0,0,1
4,tt0073006,Foreplay,https://www.imdb.com/title/tt0073006,1975,1h 15m,R,4.0,185.0,NaN,NaN,...,"Dan Greenburg, Jack Richardson, Bruce Jay Frie...","Irwin Corey, Pat Paulsen, Deborah Loomis","Parody, Satire, Sketch Comedy, Comedy",United States,NaN,SynFrank Enterprises,English,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33595,tt0095428,Kansas,https://www.imdb.com/title/tt0095428,1988,1h 50m,R,5.5,14000.0,NaN,2432536.0,...,Spencer Eastman,"Matt Dillon, Andrew McCarthy, Leslie Hope","Crime, Drama, Romance, Thriller",United States,"Lawrence, Kansas, USA",Trans World Entertainment TWE,English,0,0,0
33596,tt0094980,The Decline of Western Civilization Part II: T...,https://www.imdb.com/title/tt0094980,1988,1h 33m,R,7.2,45000.0,500000.0,373743.0,...,NaN,"Joe Perry, Steven Tyler, Gene Simmons","Documentary, Music",United States,"Los Angeles, California, USA",IRS World Media,English,0,0,0
33597,tt0093170,Man Behind the Sun,https://www.imdb.com/title/tt0093170,1988,1h 45m,Not Rated,6.1,76000.0,NaN,NaN,...,"Mei Liu, Wen Yuan Mou, Dun Jing Teng","Gang Wang, Dai Yao Wu, Runshen Wang","Drama, History, Horror, War",Hong Kong,NaN,SilMetropole Organisation,Mandarin,0,0,0
33598,tt0170783,Yesterday,https://www.imdb.com/title/tt0170783,1988,1h 24m,NaN,8.9,36000.0,NaN,NaN,...,"Ivan Andonov, Vlado Daverov","Hristo Shopov, Georgi Staykov, Sofiya Kuzeva",Drama,Bulgaria,"Plovdiv, Bulgaria",NaN,"Bulgarian, English",0,0,0
33599,tt0096516,Straight for the Heart,https://www.imdb.com/title/tt0096516,1988,1h 32m,NaN,6.8,262.0,NaN,NaN,...,"Marcel Beaulieu, Michel Langlois, Yves Navarre","Matthias Habich, JohanneMarie Tremblay, Michel...","Drama, Romance, War","Canada, Switzerland","Montral, Qubec, Canada","Les films telescene inc, Xanadu Film AG",French,0,0,0

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33600 entries, 0 to 33599
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     33600 non-null  object
 1   title                  33600 non-null  object
 2   link                   33600 non-null  object
 3   year                   33600 non-null  int64
 4   duration               33379 non-null  object
 5   rating_mpa             25624 non-null  object
 6   rating_imdb            33462 non-null  float64
 7   vote                   33462 non-null  float64
 8   budget                 11815 non-null  float64
 9   gross_world_wide       18222 non-null  float64
 10  gross_us_canada        17571 non-null  float64
 11  gross_opening_weekend  15523 non-null  float64
 12  director               33241 non-null  object
 13  writer                 32024 non-null  object
 14  star                   33127 non-null  object
 15  genre                  33218 non-null  object
 16  country_origin         33234 non-null  object
 17  filming_location       26871 non-null  object
 18  production_company     32222 non-null  object
 19  language               33109 non-null  object
 20  win                    33600 non-null  int64
 21  nomination             33600 non-null  int64
 22  oscar                  33600 non-null  int64
dtypes: float64(6), int64(4), object(13)
memory usage: 5.9+ MB

In [6]:
db_filtered = db[['id', 'title', 'year', 'duration', 'genre', 'rating_imdb', 'oscar']]
#db_filtered = db_filtered[(db_filtered['year'] >= 1980) & (db_filtered['rating_imdb'] >= 6.8)]
db_filtered = db_filtered.reset_index(drop=True)
db_filtered = db_filtered.dropna()
db_filtered

,id,title,year,duration,genre,rating_imdb,oscar
0,tt0073470,Strip Nude for Your Killer,1975,1h 38m,"Erotic Thriller, Giallo, Slasher Horror, Horro...",5.6,0
1,tt0072764,Carry on Behind,1975,1h 30m,"Parody, Slapstick, Comedy",5.6,0
2,tt0131526,"So Young, So Lovely, So Vicious...",1975,1h 30m,"Drama, Mystery, Thriller",4.9,0
3,tt0073335,Mahogany,1975,1h 49m,"Drama, Romance",6.1,1
4,tt0073006,Foreplay,1975,1h 15m,"Parody, Satire, Sketch Comedy, Comedy",4.0,0
...,...,...,...,...,...,...,...
33595,tt0095428,Kansas,1988,1h 50m,"Crime, Drama, Romance, Thriller",5.5,0
33596,tt0094980,The Decline of Western Civilization Part II: T...,1988,1h 33m,"Documentary, Music",7.2,0
33597,tt0093170,Man Behind the Sun,1988,1h 45m,"Drama, History, Horror, War",6.1,0
33598,tt0170783,Yesterday,1988,1h 24m,Drama,8.9,0
33599,tt0096516,Straight for the Heart,1988,1h 32m,"Drama, Romance, War",6.8,0

In [7]:
db_filtered.info()
db_filtered.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 32965 entries, 0 to 33599
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           32965 non-null  object
 1   title        32965 non-null  object
 2   year         32965 non-null  int64
 3   duration     32965 non-null  object
 4   genre        32965 non-null  object
 5   rating_imdb  32965 non-null  float64
 6   oscar        32965 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.0+ MB

              year   rating_imdb         oscar
count  32965.00000  32965.000000  32965.000000
mean    1992.31491      6.151809      0.104596
std       18.92032      1.144771      0.513362
min     1960.00000      1.100000      0.000000
25%     1976.00000      5.400000      0.000000
50%     1992.00000      6.300000      0.000000
75%     2008.00000      7.000000      0.000000
max     2024.00000      9.600000     11.000000

In [8]:
import re
import pandas as pd

def convert_to_minutes(duration_str):
    """
    Converte strings como '1h 38m', '2h', '45m' em minutos inteiros.
    Retorna pd.NA para valores nulos.
    """
    if pd.isna(duration_str):
        return pd.NA

    # Captura horas (ex: '1h', '2h')
    h_match = re.search(r'(\d+)\s*h', duration_str)
    hours = int(h_match.group(1)) if h_match else 0

    # Captura minutos (ex: '38m', '6m')
    m_match = re.search(r'(\d+)\s*m', duration_str)
    minutes = int(m_match.group(1)) if m_match else 0

    return hours * 60 + minutes

# Aplica e mantém dtype que aceita NA
db_filtered['duration'] = (
    db_filtered['duration']
    .apply(convert_to_minutes)
    .astype('Int64')
)

In [9]:
db_filtered

,id,title,year,duration,genre,rating_imdb,oscar
0,tt0073470,Strip Nude for Your Killer,1975,98,"Erotic Thriller, Giallo, Slasher Horror, Horro...",5.6,0
1,tt0072764,Carry on Behind,1975,90,"Parody, Slapstick, Comedy",5.6,0
2,tt0131526,"So Young, So Lovely, So Vicious...",1975,90,"Drama, Mystery, Thriller",4.9,0
3,tt0073335,Mahogany,1975,109,"Drama, Romance",6.1,1
4,tt0073006,Foreplay,1975,75,"Parody, Satire, Sketch Comedy, Comedy",4.0,0
...,...,...,...,...,...,...,...
33595,tt0095428,Kansas,1988,110,"Crime, Drama, Romance, Thriller",5.5,0
33596,tt0094980,The Decline of Western Civilization Part II: T...,1988,93,"Documentary, Music",7.2,0
33597,tt0093170,Man Behind the Sun,1988,105,"Drama, History, Horror, War",6.1,0
33598,tt0170783,Yesterday,1988,84,Drama,8.9,0
33599,tt0096516,Straight for the Heart,1988,92,"Drama, Romance, War",6.8,0

In [10]:
db_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32965 entries, 0 to 33599
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           32965 non-null  object
 1   title        32965 non-null  object
 2   year         32965 non-null  int64
 3   duration     32965 non-null  Int64
 4   genre        32965 non-null  object
 5   rating_imdb  32965 non-null  float64
 6   oscar        32965 non-null  int64
dtypes: Int64(1), float64(1), int64(2), object(3)
memory usage: 2.0+ MB

In [11]:
!pip install nbformat>=4.2.0

In [ ]:
fig = px.bar(db_filtered.groupby('year')['title'].count().reset_index(),
             x='year', y='title',
             title='Distribuição de Filmes por Ano (1980-2024)',
             labels={'year': 'Ano', 'title': 'Quantidade de Filmes'})
fig.update_traces(hovertemplate='Ano: %{x}<br>Quantidade de Filmes: %{y}')
fig.show()

In [ ]:
fig = px.histogram(db_filtered, x="rating_imdb",
                   nbins=int(db_filtered['rating_imdb'].max() - db_filtered['rating_imdb'].min() + 1)*10,
                   title='Distribuição de Filmes por Nota do IMDB',
                   labels={'rating_imdb': 'Nota do IMDB', 'count': 'Quantidade de Filmes'})
fig.update_traces(hovertemplate='Nota do IMDB: %{x}<br>Quantidade de Filmes: %{y}')
fig.update_layout(xaxis={'tickmode': 'linear', 'dtick': 0.1})
fig.show()

In [ ]:
fig = px.scatter(db_filtered, x="year", y="rating_imdb",
                 color="rating_imdb", size='rating_imdb',
                 title="Relação entre Nota do IMDB, Ano e Quantidade de Filmes",
                 labels={"year": "Ano", "rating_imdb": "Nota do IMDB"},
                 hover_data=['title'],
                 marginal_y="histogram", marginal_x="histogram")

fig.show()

In [21]:
#Ordena db_filtered pelo rating_imdb em ordem decrescente
db_filtrados_ordenado = db_filtered.sort_values(by=['rating_imdb'], ascending=False)

#Salva o db ordenado em um arquivo CSV
db_filtrados_ordenado.to_csv('movies2.csv', index=False)
db_filtrados_ordenado

,id,title,year,duration,genre,rating_imdb,oscar
11166,tt29630400,Day by Day: The Dynasty,2023,129,Documentary,9.6,0
20986,tt10950526,Love Goes Public,2019,68,Documentary,9.6,0
14532,tt30247072,SEVENTEEN TOUR 'FOLLOW' to JAPAN: LIVE VIEWING,2023,210,"Documentary, Music",9.5,0
32406,tt11119936,BTS World Tour 'Love Yourself: Speak Yourself'...,2019,210,Music,9.4,0
11363,tt0126079,Steeper & Deeper,1992,92,"Documentary, Sport",9.4,0
...,...,...,...,...,...,...,...
4067,tt0349113,Ax 'Em,1992,71,"BHorror, Slasher Horror, Teen Horror, Comedy, ...",1.3,0
4599,tt0207061,Rollergator,1996,83,Family,1.3,0
11536,tt0421051,Daniel the Wizard,2004,81,"Comedy, Crime, Fantasy, Music",1.2,0
24298,tt12981810,Finding Jesus,2020,69,"Sea Adventure, Animation, Family, Fantasy",1.2,0
25481,tt1008023,Proud American,2008,115,Drama,1.1,0